
.ameyStandard > rect{
    fill:#ebb700 !important;
    stroke:black !important;
    stroke-width:1px !important;
}
.ameyStandard .label{
    text-align: center
}

svg g:hover > text{
    fill:#977500;
 }
 svg g:hover > rect{
     fill:#d4d4d4;
     stroke: #977500;
     stroke-width: 1.5px;
     opacity: 1;
 }
 
