
.ameyStandard > rect{
    fill:#ebb700 !important;
    stroke:black !important;
    stroke-width:1px !important;
}
.ameyStandard .label{
    text-align: center
}



.dt-flow{
    text-align: center;
}

.dt-flow-link:hover > text{
    fill:#977500;
    cursor: pointer !important;
 }
 .dt-flow-link:hover > rect{
     fill:#d4d4d4;
     stroke: #977500;
     stroke-width: 1.5px;
     opacity: 1;
     cursor: pointer !important;
 }
 
  
svg{
    cursor: default !important;
}
